[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"

[packages]
PyGithub = "*"
thoth-common = "*"
click = "*"
thoth-storages = "*"
pre-commit = "==2.15.0"

[requires]
python_version = "3.8"
